* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: gray;
}

button {
  background-color: #3882f6;
}

.banner > button {
  border: 2px solid white;
}

.header-logo {
  font-size: 24px;
  font-weight: 500;
  color: #f9faf8;
}

.header-links {
  font-size: 18px;
}

.secondary-text,
.footer {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 300;
}

.header-image {
  width: 400px;
  aspect-ratio: 16/9;
}

.header-image > img {
  width: 100%;
  height: 100%;
}

.main-text {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.information-header-text,
.quote-author {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}

.information-item {
  width: 175px;
  height: 175px;
}

.information-item > img {
  border: 2px solid #3882f6;
  width: 50%;
  height: 50%;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.banner > .main-text {
  font-size: 36px;
}
